{% extends 'base.html' %}
{% import 'macros.html' as macro %}

    <!-- style block -->
    {% block style %}
        {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.html') }}">
    {% endblock %}

    <!-- Content block -->
    {% block content %}
        <!-- Popular movie section  -->
        <h3>Popular Movies</h3>
        <ul>
            {{ macro.displayMovieList(popular) }}
        </ul>


        <!-- Upcoming movie section  -->
        <h3>Upcoming Movies</h3>
        <ul>
            {{ macro.displayMovieList(upcoming) }}
        </ul>


        <!-- Now Showing movie section  -->
        <h3>Now Showing Movies</h3>
        <ul>
            {{ macro.displayMovieList(now_showing) }}
        </ul>
    {% endblock %}